recursive-include docs *.py *.rst *.css *.js *.html *.conf *.jpg *.gif *.png *.css_t
recursive-include horizon *.html *.js *.css *.less *.csv *.template *.mo *.po *.png *.gif
recursive-include tools *.py *.sh

include AUTHORS
include LICENSE
include Makefile
include manage.py
include README.rst
include run_tests.sh
include docs/Makefile
include docs/source/_templates/.placeholder
include tools/pip-requires
include tools/test-requires
